.container{
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
}

.left{
    flex-grow: 1;
    padding: 100px;
    .header{
        display: flex;
    }
    .tab{
        color: #013289;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        padding: 0 20px;
    }
    .active_tab{
        padding-bottom: 5px;
        border-bottom: 4px solid #013289;
    }
    .form_container{
        width: 400px;
        padding: 30px 0;
    }
}

.right{
    .info_graphic{
        width: 600px;
    }
}